#projects {
    margin: 0 auto;
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.projectsTitle {
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.projectsDesc {
    font-weight: 300;
    font-size: 1rem;
    max-width: 45rem;
    margin-bottom: 4rem;
    text-align: center;
}

.myProjects {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.project {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 4rem;
}

.projectContent {
    flex: 1;
    padding-right: 4rem;
    text-align: left;
}

.projectContent h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #9f9f9f;
}

.projectParagraph {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.projectImg {
    object-fit: cover;
    max-height: 15rem;
    max-width: 24rem;
    width: 100%;
    height: auto;
    border-radius: 5px;
    border: 1.5px solid #243E50;
}

@media screen and (max-width: 840px) {
    .projectImg {
        max-width: 100%;
    }
}

