#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.projectsTitle {
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.projectsDesc {
    font-weight: 300;
    font-size: 1.1rem;
    max-width: 45rem;
    margin-bottom: 4rem;
    text-align: center;
}

.myProjects {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.project {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 4rem;
}

.projectContent {
    flex: 1;
    padding-right: 4rem;
    text-align: left;
}

.projectContent h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #9f9f9f;
    color: #2D4A5E;
}

.projectParagraph {
    font-size: 1.1rem;
    font-weight: 300;
    margin-bottom: 1rem;
    color: #2D4A5E;
}

.projectImg {
    object-fit: cover;
    max-height: 15rem;
    max-width: 24rem;
    width: 100%;
    height: auto;
    border-radius: 5px;
    border: 1.5px solid #243E50;
}

.projectLinks {
    display: inline-block;
    color: #B34235;
    text-decoration: none;
    margin-right: 10px;
    margin-bottom: 15px;
}

.projectLinks:hover {
    border-bottom: 2px solid #B34235;
}

@media screen and (max-width: 768px) {
    .project {
        flex-direction: column;
        align-items: center;
    }

    .projectContent {
        padding-right: 0;
        margin-bottom: 2rem;
        width: 100%;
    }

    .projectContent h2 {
        border-top: 1px solid #9f9f9f;
        border-bottom: none;
    }
}

