#contactPage {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contactPageTitle {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.contactDesc {
    padding: 1rem;
    font-size: 1.1rem;
    font-weight: 300;
}

.contactForm {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    max-width: 60rem;
}

::placeholder {
    color: #243E50;
    opacity: 1;
}

.name, .email, .msg {
    font-size: medium;
    width: 100%;
    max-width: 40rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color: #243E50;
    border: 1px solid #243E50;
    border-radius: 0.5rem;
    background-color: white;
}

.msg {
    resize: vertical;
    min-height: 143px;
}

.submitBtn {
    background-color: #D7C4A5;
    color: #243E50;
    border: none;
    border-radius: 2rem;
    margin: 2rem;
    cursor: pointer;
}

.links {
    display: flex;
    flex-wrap: wrap;
}

.link {
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin: 0 0.75rem;
}

.links a {
    padding-top: 10px;
}

