.NavBar {
    background-color: #F9F3E9;
    /* border-bottom: 1px solid #D7C4A5; */
    height: 5rem;
    width: 100vw;
    /* max-width: 100%; */
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 3;
    box-shadow: 0px 1px 9px #D7C4A5;
}

.navContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75rem;
}

button.desktopMenuBtn {
    font-family: inherit;
    font-size: 1rem;
    /* padding: 0.5rem; */
    background-color: #B34235;
    color: #F9F3E9;
    width: 95px;
    height: 45px;
}

.logo {
    object-fit: cover;
    width: 10rem; 
}

.desktopMenuListItem {
    margin: 1rem;
    cursor: pointer;
}

.desktopMenuListItem:hover {
    color: #243E50;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #243E50;
}

.desktopMenuBtn {
    /* background: #F9F3E9;
    color: #2D4A5E; */
    border: none;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    /* padding: 0 1rem; */
    /* border-radius: 2rem; */
    /* cursor: pointer; */
    /* gap: 5px; */
}

.desktopMenuImg {
    object-fit: cover;
    height: 2rem;
    width: 2rem;
}

.active {
    color: #B34235;
    border-bottom: 3px solid #B34235;
    padding-bottom: 0.5rem;
}

.mobileNav {
    display: none;
    object-fit: cover;
    height: 1.8rem;
}

.navMenu {
    position: absolute;
    top: 4rem;
    right: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: fit-content;
    min-width: 15rem;
    background-color: #F9F3E9;
    border-radius: 1rem;
}

.listItem {
    color:#243E50;
    padding: 0.5rem 3rem;
    margin: 0.25rem;
    background-color: #F1EDE4;
}

@media screen and (max-width: 720px) {
    .mobileNav {
        display: flex;
    }

    .desktopMenu {
        display: none;
    }

    .desktopMenuBtn {
        display: none;
    }
}