.NavBar {
    background-color: #F9F3E9;
    height: 5rem;
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
}

.logo {
    object-fit: cover;
    width: 10rem; 
}

.desktopMenuListItem {
    margin: 1rem;
    cursor: pointer;
}

.desktopMenuListItem:hover {
    color: #243E50;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #243E50;
}

.desktopMenuBtn {
    background: #F9F3E9;
    color: #2D4A5E;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 2rem;
}

.desktopMenuImg {
    object-fit: cover;
    height: 2rem;
    width: 2rem;
}